*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Poppins,sans-serif !important;
}
.first h3{
    font-size: 38px;
   
    padding-top: 12%;
}
.first p{
    font-size: 22px;
    padding-top: 3%;
}
#nav-bar{
    background-color: white;
}
.first{
    margin-top: 10%;
}
.image1{
   /* height: 60vh; */
   margin-top: 20%;
    
    
    
}
.button1{
    display: flex;
    margin-top: 5%;
}
.button{
    display: flex;
    margin-top: 5%;
}

@media(max-width:1024px){
    .first p{
        font-size: 19px !important;
    }
    .image1{
        height: 70vh;
    }
    .second-text h3{
        font-size: 25px !important;
    }
    .second-text p{
        font-size: 15px !important;
    }
    .third-texts h3{
        font-size: 25px !important;
    }
    .third-texts p{
        font-size: 15px !important;
    }
    .forth-text h3{
        font-size: 25px !important;
        
    }
    .forth-text p{
        font-size: 15px !important;
    }
    .fifth-item h3{
        font-size: 25px !important;
    }
    .fifth-item p{
        font-size: 15px !important;
    }
    .card1{
        height: 40vh !important;
    }
    .card2{
        height: 40vh !important;
        
    }
    .card3{
        height: 40vh !important;
    }
    .sixth-items h3{
        font-size: 25px !important;
    }
    .sixth-items p{
        font-size: 15px !important;
    }
    .seven-items h3{
        font-size: 25px !important;
    }
    .seven-items p{
        font-size: 15px !important;
    }
    .nipimage{
        height: 40vh;
    }
    .eight-items h4{
        font-size: 22px !important;
    }
    .eight-items h3{
        font-size: 22px !important;
    }
    .eight-items p{
        font-size: 12px !important;
    }
    .image8{
        height: 90vh;
        margin-left: 10%;
       
       
    }
    .image4{
        height: 60vh;
    }

}




@media(max-width:768px){
    .first{
        padding-left: 85px;
    }
    .image1{
        padding-left: 80px;
    }

    .second-text h3{
        padding-left: 14%;
        font-size: 30px !important;
        
    }
    .second-text p{
        font-size: 18px !important;
        padding-left: 14%;
        padding-bottom: 20%;
    }
    .third-texts h3{
        font-size: 30px !important;
        padding-left: 20%;
    }
    .third-texts p{
        font-size: 18px !important;
        padding-left: 20%;
    }
    .third-image1{
        padding-left: 10%;
        padding-bottom: 20%;
    }
    .forth-text h3{
        font-size: 30px !important;
        
    }
    .forth-text p{
        font-size: 18px !important;
    }
    .boxes p{
        font-size: 16px !important;
     }
     .fifth-item h3{
        font-size: 25px !important;
    }
    .fifth-item p{
        font-size: 16px !important;
    }
    .card1{
        height: 35vh !important;
        padding-left: 85px !important;
    }
    .card2{
        height: 35vh !important;
        padding-left: 40px !important;
    }
    .card3{
        height: 50vh !important;
        margin-left: 85px;
    }
    .sixth-items h3{
        font-size: 29px !important;
    }
    .sixth-items p{
        font-size: 15px !important;
    }
    .seven-items h3{
        font-size: 22px !important;
    }
    .seven-items p{
        font-size: 15px !important;
    }
    .nipimage{
        /* height: 10vh; */
        /* padding-left: 1px !important; */
        width: 300px;
    }
    .eight-items h4{
        font-size: 20px !important;
    }
    .eight-items h3{
        font-size: 23px !important;
    }
    .eight-items p{
        font-size: 15px !important;
    }
    .image8{
        height: 60vh !important;
        padding-right: 60px;
       
       
    }
   
    .section9-text h1{
        font-size: 22px !important;
    }
    .section9-text h5{
        font-size: 17px !important;
    }
    .section9-text p{
        font-size: 12px !important;
    }
    
    .image4{
        height: 40vh !important;
      
    }
    .Contact-footer2 h4{
        font-size: 15px !important;
    }
    .Contact-footer2 p{
        font-size: 10px !important;
    }
    .Contact-footer2 img{
        width: 40px;
    }
    .Contact-footer2{
        gap: 2em;
    }
}






@media(max-width:426px){
    .image1{
        height: 40vh;
     }
     .first h3{
         font-size: 28px !important;
         padding-top: 80px;
     }
     .first p{
         font-size: 12px !important;
     }
     .image2{
         height: 6vh;
         padding-top: 50px;
     }
     .second-text h3{
        font-size: 22px !important;
    }
    .second-text p{
        font-size: 15px !important;
    }
    .third-texts h3{
        font-size: 22px !important;
    }
    .third-texts p{
        font-size: 15px !important;
    }
    .third-image1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .forth-text h3{
        font-size: 22px !important;
    }
    .forth-text p{
        font-size: 15px !important;
    }
    .boxes p{
        font-size: 10px !important;
     }
     .sixth-items h3{
        font-size: 22px !important;
    }
    .sixth-items p{
        font-size: 15px !important;
    }
    .fifth{
        flex-direction: column;
        
    }
    .fifth-item h3{
        font-size: 25px !important;
    }
    .fifth-item p{
        font-size: 15px !important;
    }
    .fifth-item:nth-of-type(1){
        width: 380px;
    }
    .fifth-item:nth-of-type(2){
        width: 380px;
    }
    .seven-box{
        flex-direction: column;
    }
    .seven-items h3{
        font-size: 22px !important;
    }
    .seven-items p{
        font-size: 15px !important;
    }
    .seven-items:nth-of-type(1){
        width: 380px !important;
    }
    .seven-items:nth-of-type(2){
        width: 380px !important;
        height: 70vh;
    }
    .eight-items h4{
        font-size: 20px !important;
    }
    .eight-items h3{
        font-size: 20px !important;
    }
    .eight-items p{
        font-size: 10px !important;
    }
    .button{
        display: none;
    }
    .nipimage{
        height: 40vh !important;
        padding-right: 50px !important;
    }
    .image8{
        height: 40vh !important;
        padding-left: 10px !important;
        
       
       
    }
    #section9{
        flex-direction: column;
        
    }
    .section9-text{
        margin-left: 28px;
    }
    .section9-text h1{
        font-size: 20px !important;
    }
    .section9-text h5{
        font-size: 15px !important;
    }
    .section9-text p{
        font-size: 10px !important;
    }
    .image4{
        height: 35vh;
        margin-left: 55px;
    }
    .card1{
        height: 40vh !important;
    }
    .card3{
        height: 40vh !important;
        padding-left: 40px !important;
    }
}
    


@media only screen and (max-width: 376px) and (min-width: 320px){
    .image1{
       height: 35vh;
       /* padding-left: 20%; */
    }
    
    
    .first h3{
        font-size: 23px !important;
        /* margin-top: 20%; */
    }
    .first p{
        font-size: 10px !important;
    }
    .image2{
        height: 45vh;
        padding-left: 20px;
    }
    .second-text{
        padding-right: 20px !important;
    }
    .second-text h3{
        font-size: 23px !important;
        
    }
    .second-text p{
        font-size: 12px !important;
    }
    .third-texts h3{
        font-size: 22px !important;
    }
    .third-texts p{
        font-size: 12px !important;
    }
    .third-image1 {
        /* display: flex; */
        flex-direction: column;
        
    }
    .forth-text h3{
        font-size: 22px !important;
    }
    .forth-text p{
        font-size: 12px !important;
    }
    .fifth{
        flex-direction: column;
        
    }


    .fifth-item h3{
        font-size: 25px !important;
        padding: 5px;
    }
    .fifth-item p{
        font-size: 15px !important;
    }
    .boxes p{
       font-size: 10px !important;
    }
   
    .sixth-items h3{
        font-size: 22px !important;
    }
    .sixth-items p{
        font-size: 15px !important;
    }
    .card1{
        height: 40vh !important;
    }
    .card3{
        height: 40vh !important;
        padding-left: 10px !important;
    }
    .card2{
        padding-left: 65px !important;
    }
    .seven-box{
        flex-direction: column;
    }
    .seven-items h3{
        font-size: 22px !important;
    }
    .seven-items p{
        font-size: 15px !important;
    }
    .seven-items:nth-of-type(1){
        width: 360px !important;
    }
    .seven-items:nth-of-type(2){
        width: 360px !important;
        height: 70vh;
    }
    .eight-items h4{
        font-size: 12px !important;
    }
    .eight-items h3{
        font-size: 15px !important;
    }
    .eight-items p{
        font-size: 10px !important;
    }
    .button{
        display: none;
    }
    .image8{
        height: 30vh;
       
       
    }
    #section9{
        flex-direction: column;
    }
    .section9-text h1{
        font-size: 20px !important;
    }
    .section9-text h5{
        font-size: 15px !important;
    }
    .section9-text p{
        font-size: 10px !important;
    }
    .image4{
        height: 35vh;
    }
}

@media(max-width:320px){
    .first h3{
        font-size: 20px !important;
    }
    .first p{
        font-size: 10px !important;
    }
    .fifth{
        flex-direction: column;
    }
    .fifth-item:nth-of-type(1){
        width: 300px;
    }
    .fifth-item:nth-of-type(2){
        width: 300px;
    }
    .seven-items:nth-of-type(1){
        width: 300px !important;
    }
    .seven-items:nth-of-type(2){
        width: 300px !important;
    }
   .nipimage{
    height: 20vh;
   }
   .card2{
    height: 25vh !important;
   }
} 


#section2{
    border-radius: 2em; 
    padding-bottom: 20px;
}


 .second-text{
    padding-top: 14%;
    padding-left: 10%;
 }
.second-text h3{
    font-size: 33px;  
}
.second-text p{
    font-size: 21px;  
}

#section3{
    border-radius: 2em;
    margin-top: 2%;
    padding-bottom: 25px;
}

.image2{
    margin-left: 6%;
   
}

.third h3{
    font-size: 32px;
    padding-left: 20%; 
    padding-top: 10%; 
}
.third p{
    font-size: 20px;
    padding-left: 20%;  
}
/* .third-texts{
    margin-top: 10%;
    margin-left: 20%;
  

   
} */
.third-image1{
    display: flex;
    gap: 2em;
    margin-left: 5%;
    margin-top: 5%;
 }

 #section4{
    /* height: 85vh; */
    padding-bottom: 22px;
 }

 .forth{
    /* height: 40vh; */
    margin-top: 2%;
 }
 .forth h3{
    font-size: 33px;
    padding-top: 5%;
    
 }
 .forth P{
    font-size: 20px;
    padding-top: 2%;
 
 }


 .box{
    /* border: thick solid black; */
    height: 40vh;
    display: flex;
    gap: 2em;
 }
 .boxes{
    border: inherit;
    grid-template-columns: repeat(3, 1fr);
    width: 40%;
    background-color: #FFFFFF;
    border-radius: 2em;
 }
 .inbox1{
    border: inherit;
    height: 20vh;
    background-color:#19A053;
    background-image: url(https://www.palmpay.com/_next/static/media/card4bank0.65feb126.png?w=128&q=100);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1em;
 }
 .inbox2{
    border: inherit;
    height: 20vh;
    background-color: #E6EEEE;
    background-image: url(https://www.palmpay.com/_next/static/media/card4bank1.17b5d40b.png?w=256&q=100);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1em;
 }
 .inbox3{
    border: inherit;
    height: 20vh;
    background-color: #3F418A;
    background-image: url(https://www.palmpay.com/_next/static/media/card4bank2.954a003e.png?w=256&q=100);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1em;
 }
 .inbox4{
    border: inherit;
    height: 20vh;
    background-color: #E6EEEE;
    background-image: url(https://www.palmpay.com/_next/static/media/card4bank3.42a606c3.png?w=384&q=100);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1em;
 }
 .fifth{
    /* border: thick solid black; */
    /* height: 95vh; */
    display: flex;
    margin-top: 3%;
    gap: 1em;

 }
 .fifth-item{
    /* border: inherit; */
    /* width: 50%; */
    grid-template-columns: repeat(2, 1fr);
    background-color: #e7e7ed;
    border-radius: 2em;

 }
 .fifth-item h3{
    font-size: 33px;
    padding-top: 5%;
    text-align: center;
 }
 .fifth-item p{
    font-size: 20px;
    text-align: center;
    
 }
 .card1{
    height: 50vh;
    padding-left: 170px;
    margin-top: 8%;
 }
 .card2{
    height: 50vh;
    padding-left: 120px;
    margin-top: 8%;
 }
 #sixth{
    /* height: 90vh; */
    border-radius: 2em;
    padding-bottom: 40px;
   
 }
 .sixth-items h3{
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
 }
 .sixth-items p{
    font-size: 20px;
    text-align: center;
 }
 .card3{
    height: 50vh;
    padding-left: 150px;
    margin-top: 30px;
 }
 
 
.seven-box{
    /* border: thin solid black; */
    display: flex;
    gap: 2em;
    margin-top: 2%;
    
}
.seven-items{
    /* border: inherit; */
    grid-template-columns: repeat(2, 1fr);
    border-radius: 2em;

}
.seven-items h3{
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
}
.seven-items p{
    font-size: 20px;
    text-align: center;
}
.nipimage{
    height: 45vh;
}
.seven-items:nth-of-type(1){
    width: 65%;

}
.seven-items:nth-of-type(2){
    width: 35%;
    background-color: rgb(186, 12, 180);
    background-image: url(../image/THESPEAKER.png);
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: bottom;
}
.eighth-box{
    /* border: thin solid black; */
    display: flex;
    gap: 2em;
    min-height: 60vh;
    margin-top: 2%
}
.eight-items{
    /* border: inherit; */
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
}
.image8{
    height: 80vh;
    padding-left: 180px;
    padding-top: 20px;
}
.line1{
    display: flex;
}
.border1{
    border: thin solid rgb(194, 17, 194);
    height: 15vh;
    margin: auto;
    margin-top: 8%;

}
.line2{
    display: flex;
}
.border2{
    border: thin solid rgb(194, 17, 194);
    height: 15vh;
    margin: auto;
    margin-top: 8%;
}
.line3{
    display: flex;
}
/* .border3{
    border: thin solid rgb(194, 17, 194);
    height: 15vh;
    margin: auto;
    margin-top: 8%;
} */

#side-scroll{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 90vh;
}

#section9{
    display: flex;
    margin-top: 10%;
}
.Playstore{
    display: flex;
    margin-top: 5%;
   
    
}
.section9-text{
  padding-top: 60px; 
    
}

.image4{
    height: 70vh;
}
.Insured{
    display: flex;
    margin-top: 5%;
}

/* footer */

#footer2{
    background-color: #E6E6E6;
    
    
   
    
}
.Contact-footer2{
    display: flex;
    justify-content: space-between;
    padding: 7% 0 0% ;
    flex-wrap: wrap;

    
}
.Contact-footer2 a{
    color: gray;
    line-height: 1.5em;
}
.Contact-footer2 h4{
    font-weight: 400em;
}
.Contact-footer2 p :hover{
    color: blue;
}